<div *ngIf="user">
  <div class='card' >
      <div class='card-header'>
        {{pageTitle}}
      </div>
      <div class='card-body'>
        
        <div class='table-responsive'>
          <table class='table'
                *ngIf='testSalary.length'>
            <thead>
              <tr>
                <th>Company Name</th>
                <th>Time Period</th>
                <th>Amount</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let salary of user.salaries'>   
                <td>
                  <a (click)='showDetails(salary)'>
                    {{salary.companyName}}
                  </a>
                </td>
                <td>{{salary.timePeriod | timePeriodPipe}}</td>             
                <td style="text-align:left">{{salary.salaryAmount | currency:salary.currencyCode:'symbol-narrow'}}</td>
                <td>{{salary | dateDisplay }}</td>  
              </tr>
              
            </tbody>
          </table>
          
        </div>
        <div *ngIf='salaryDetails'>
          <app-salary-detail 
            [salary]="salaryDetails" 
            (deleteClicked) = "onSalaryDelete($event)">
          </app-salary-detail>
        </div>
        <div *ngIf='!salaryDetails'>
          <h5 >Click on Company Name for details</h5>
        </div>
      </div>
    
  </div>
</div>